Repository vzhd1701/evernote-backup: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat, pytest, mypy, pytest-cov

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

    -   id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat
        types: [markdown]

    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        require_serial: true
        pass_filenames: false

    -   id: pytest-cov
        name: pytest
        stages: [push]
        language: system
        entry: poetry run pytest --cov-fail-under=100 --cov=evernote_backup tests/
        types: [python]
        pass_filenames: false

feat: add --overwrite flag to export mode
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/cli_app_click_util.py
  evernote_backup/note_exporter.py
  evernote_backup/note_exporter_util.py
  tests/test_note_exporter_util.py
  tests/test_op_export.py
Due: isort, black, pytest, mypy, pytest-cov

chore: drop tox
  tox.ini
Due: none

chore: move mypy config into pyproject.toml
  mypy.ini
  pyproject.toml
Due: none

ci(github): update test workflow
  .github/workflows/test.yml
Due: none

ci(github): create draft release
  .github/workflows/release_github.yml
Due: none

ci(github): bump homebrew formula on pypi release
  .github/workflows/release_pypi.yml
Due: none

refactor: remove os.path usage
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/cli_app_auth.py
  evernote_backup/cli_app_storage.py
  evernote_backup/cli_app_util.py
  evernote_backup/note_storage.py
  tests/conftest.py
  tests/test_cli_app.py
  tests/test_note_storage.py
  tests/test_op_init_db.py
Due: isort, black, pytest, mypy, pytest-cov

chore(release): 1.9.0
  CHANGELOG.md
  evernote_backup/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, mypy, pytest-cov

docs(readme): add info about homebrew
  README.md
Due: mdformat

docs(readme): update Homebrew install command
  README.md
Due: mdformat

fix: limit export filename length to 255 bytes
  evernote_backup/note_exporter_util.py
  tests/test_note_exporter_util.py
  tests/test_op_export.py
Due: isort, black, pytest, mypy, pytest-cov

docs(readme): update install help
  README.md
Due: mdformat

ci(github): bump main Homebrew repo on release
  .github/workflows/release_pypi.yml
Due: none

docs(readme): update pipx link
  README.md
Due: mdformat

chore(release): 1.9.1
  CHANGELOG.md
  evernote_backup/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, mypy, pytest-cov

fix: fix crash on repeated export with long filenames
  evernote_backup/note_exporter_util.py
  tests/test_note_exporter_util.py
Due: isort, black, pytest, mypy, pytest-cov

chore(release): 1.9.2
  CHANGELOG.md
  evernote_backup/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, mypy, pytest-cov

ci(github): update release workflow
  .github/workflows/release_github.yml
Due: none

ci(github): update poetry version
  .github/workflows/release_pypi.yml
  .github/workflows/test.yml
  Dockerfile
Due: none

Update README.md per Q&A 44
  README.md
Due: mdformat

fix: negative timestamp in note_formatter_util (close #38)
  evernote_backup/note_formatter_util.py
Due: isort, black, pytest, mypy, pytest-cov

Add md5 hash to resource
  evernote_backup/note_formatter.py
Due: isort, black, pytest, mypy, pytest-cov

docs: update readme
  README.md
Due: mdformat

fix: convert negative timestamp
  evernote_backup/note_formatter_util.py
  tests/test_note_formatter.py
Due: isort, black, pytest, mypy, pytest-cov

fix: zeropad year for linux strftime
  evernote_backup/note_formatter_util.py
Due: isort, black, pytest, mypy, pytest-cov

fix: add support for negative timestamps (close #38) (#48)
  evernote_backup/note_formatter_util.py
  tests/test_note_formatter.py
Due: isort, black, pytest, mypy, pytest-cov

fix: change notebooks export log message to avoid confusion
  evernote_backup/note_exporter.py
Due: isort, black, pytest, mypy, pytest-cov

build: drop python 3.7
  poetry.lock
  pyproject.toml
Due: none

ci(github): update workflows
  .github/workflows/release_containers.yml
  .github/workflows/release_github.yml
  .github/workflows/release_pypi.yml
  .github/workflows/test.yml
Due: none

refactor: black
  evernote_backup/evernote_client_oauth.py
Due: isort, black, pytest, mypy, pytest-cov

docs: update funding links
  .github/FUNDING.yml
Due: none

build: update Dockerfile
  Dockerfile
Due: none

build: update pre-commit config
  .pre-commit-config.yaml
Due: none

refactor: mypy
  evernote_backup/cli.py
  evernote_backup/evernote_client.py
  evernote_backup/note_storage.py
  evernote_backup/note_synchronizer.py
Due: isort, black, pytest, mypy, pytest-cov

chore: update gitignore
  .gitignore
Due: none

chore(release): 1.9.3
  CHANGELOG.md
  evernote_backup/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, mypy, pytest-cov

ci(github): update containers workflow
  .github/workflows/release_containers.yml
Due: none

docs(readme): update minimum Python version
  README.md
Due: mdformat
