Repository vzhd1701/evernote-backup: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat, pytest, mypy, pytest-cov

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

    -   id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat
        types: [markdown]

    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        require_serial: true
        pass_filenames: false

    -   id: pytest-cov
        name: pytest
        stages: [push]
        language: system
        entry: poetry run pytest --cov-fail-under=100 --cov=evernote_backup tests/
        types: [python]
        pass_filenames: false

build: split dev dependencies into groups
  pyproject.toml
Due: none

docs: drop repo stars/commit info for similar projects
  README.md
  SIMILAR_PROJECTS.md
Due: mdformat

ci(github): update workflows
  .github/workflows/release_containers.yml
  .github/workflows/test.yml
Due: none

docs: update readme
  README.md
Due: mdformat

docs: fix slashes
  README.md
  SIMILAR_PROJECTS.md
Due: mdformat

build: update dependencies
  poetry.lock
Due: none

docs(readme): drop dependencies section
  README.md
Due: mdformat

build: replace unmaintained oauth2 with oauthlib
  evernote_backup/evernote_client_oauth.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_evernote_client_oauth.py
  tests/test_op_reauth.py
Due: isort, black, pytest, mypy, pytest-cov

fix: no module named pyutil
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: mdformat

Update README.md with --oauth now required
  README.md
Due: mdformat

README.md: export/sync: add gnsync
  README.md
Due: mdformat

refactor: print thrift exceptions explicitly
  evernote_backup/cli.py
  tests/test_cli_app.py
Due: isort, black, pytest, mypy, pytest-cov

fix: drop evernote sandbox backend
  evernote_backup/evernote_client.py
  tests/test_op_init_db.py
Due: isort, black, pytest, mypy, pytest-cov

fix: use oauth login for evernote and password login for yinxiang
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/cli_app_auth.py
  evernote_backup/cli_app_auth_oauth.py
  tests/conftest.py
  tests/test_op_init_db.py
  tests/test_op_reauth.py
Due: isort, black, pytest, mypy, pytest-cov

fix: update yinxiang API key
  evernote_backup/config.py
Due: isort, black, pytest, mypy, pytest-cov

refactor: rename API keys to avoid confusion between evernote and yinxiang
  evernote_backup/cli_app_auth_oauth.py
  evernote_backup/cli_app_auth_password.py
  evernote_backup/config.py
Due: isort, black, pytest, mypy, pytest-cov

docs(readme): drop alternative tools section since ENScript is dead
  README.md
Due: mdformat

docs(readme): drop --oauth stuff, it's automatic now
  README.md
Due: mdformat

build: update and fix dependencies
  poetry.lock
  pyproject.toml
Due: none

build: update pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

build: update pre-commit
  .pre-commit-config.yaml
Due: none

chore: fix tabs in pyproject.toml
  pyproject.toml
Due: none

ci(github): update workflows
  .github/workflows/release_github.yml
  .github/workflows/release_pypi.yml
  .github/workflows/test.yml
Due: none

ci(docker): update poetry version
  Dockerfile
Due: none

docs(readme): add gnsync (#122)
  README.md
Due: mdformat

ci(github): add poetry-plugin-export to release workflow
  .github/workflows/release_github.yml
Due: none

chore(release): 1.9.4
  CHANGELOG.md
  evernote_backup/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, mypy, pytest-cov

ci(github): add manual homebrew publish workflow
  .github/workflows/release_brew.yml
Due: none

ci(github): add SOURCE_DATE_EPOCH to make poetry build wheels with proper timestamp
  .github/workflows/release_github.yml
  .github/workflows/release_pypi.yml
Due: none

build: update pyproject.toml
  pyproject.toml
Due: none

refactor: replace deprecated utcnow with now(timezone.utc)
  evernote_backup/note_exporter.py
Due: isort, black, pytest, mypy, pytest-cov

refactor: add newline after en-export header
  evernote_backup/note_exporter.py
Due: isort, black, pytest, mypy, pytest-cov

fix: format reminder-time on export
  evernote_backup/note_formatter.py
  tests/test_note_formatter.py
Due: isort, black, pytest, mypy, pytest-cov

feat: add --log option for setting log file
  evernote_backup/cli.py
  evernote_backup/log_util.py
  tests/test_cli_app.py
Due: isort, black, pytest, mypy, pytest-cov

fix: skip download for notes that return server side error
  evernote_backup/note_synchronizer.py
  tests/test_op_sync.py
Due: isort, black, pytest, mypy, pytest-cov

refactor: move error handling into decorator to use cli_invoker as main entry point in tests
  evernote_backup/cli.py
  tests/test_cli_app.py
  tests/test_op_export.py
  tests/test_op_init_db.py
  tests/test_op_reauth.py
  tests/test_op_sync.py
Due: isort, black, pytest, mypy, pytest-cov

feat: add --add-guid option in export mode to include GUID meta for each note
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/note_exporter.py
  evernote_backup/note_formatter.py
  tests/test_note_formatter.py
  tests/test_op_export.py
Due: isort, black, pytest, mypy, pytest-cov

chore(release): 1.10.0
  CHANGELOG.md
  evernote_backup/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, mypy, pytest-cov

refactor: add raw_note is not NULL check just in case
  evernote_backup/note_storage.py
  tests/test_note_storage.py
Due: isort, black, pytest, mypy, pytest-cov

fix: mark notes for redownload if they are corrupted in DB
  evernote_backup/note_storage.py
  tests/test_note_storage.py
Due: isort, black, pytest, mypy, pytest-cov
