Repository vzhd1701/evernote-backup: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdformat, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: ruff
        name: ruff
        stages: [pre-commit]
        language: system
        entry: poetry run ruff format
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [pre-commit]
        language: system
        entry: poetry run mdformat --number
        types: [markdown]

    -   id: pytest
        name: pytest
        stages: [pre-commit]
        language: system
        entry: poetry run pytest
        types: [python]
        pass_filenames: false

ci(github): add winget workflow
  .github/workflows/release_winget.yml
Due: none

docs(readme): add info about winget + cocolatey, also lint
  README.md
  pyproject.toml
Due: mdformat

perf(export): stream note bodies instead of building them in memory
  evernote_backup/note_exporter.py
  evernote_backup/note_formatter.py
  evernote_backup/note_formatter_util.py
Due: ruff, pytest

test(bench): add memory benchmarks for the export path
  justfile
  pyproject.toml
  tests/test_memory_benchmark.py
Due: ruff, pytest

build: drop Python 3.10, now past end of life
  .github/workflows/test.yml
  evernote_backup/log_util.py
  evernote_backup/note_exporter.py
  evernote_backup/note_formatter_util.py
  evernote_backup/token_util.py
  pyproject.toml
  tests/test_cli_app_util.py
  tests/test_token_util.py
Due: ruff, pytest

perf(export): read notes out of their blob and release them promptly
  evernote_backup/note_exporter.py
  evernote_backup/note_formatter.py
  evernote_backup/note_storage.py
Due: ruff, pytest

test(bench): cover adjacent large notes and manage check
  tests/test_memory_benchmark.py
Due: ruff, pytest

docs(changelog): update
  CHANGELOG.md
Due: mdformat

chore: simplify gitignore
  .gitignore
Due: none

ci(github): add continuous build
  .github/workflows/build.yml
  .github/workflows/prerelease_github.yml
  .github/workflows/release_brew.yml
  .github/workflows/release_github.yml
Due: none

ci(github): use extract-release-notes in pre-release workflow
  .github/workflows/prerelease_github.yml
Due: none

docs: add AGENTS.md
  AGENTS.md
Due: mdformat
