Repository vzhd1701/evernote-backup: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mdformat, pytest

ruff:
  name: ruff
  stages:
  - pre-commit
  language: system
  entry: poetry run ruff format

mdformat:
  name: mdformat
  stages:
  - pre-commit
  language: system
  entry: poetry run mdformat --number

pytest:
  name: pytest
  stages:
  - pre-commit
  language: system
  entry: poetry run pytest
  pass_filenames: false

ci(github): submit coverage on windows to show all tests
  .github/workflows/test.yml
Due: none

test: fix path for windows test on macos
  tests/test_desktop_session.py
Due: ruff, pytest

docs(readme): add clarification about --oauth-method
  README.md
Due: mdformat

fix: show warning when multiple users are found in desktop session
  evernote_backup/desktop_session.py
  tests/test_desktop_session.py
Due: ruff, pytest

feat: drop --include-tasks option
  README.md
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  tests/test_op_sync.py
  tests/test_op_sync_v2.py
Due: ruff, mdformat, pytest

docs(readme): update install from source section
  README.md
Due: mdformat

feat: add blacklist for skipping broken notes during sync
  README.md
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/cli_app_util.py
  evernote_backup/note_storage.py
  evernote_backup/note_synchronizer.py
  tests/test_cli_app_util.py
  tests/test_note_storage.py
  tests/test_op_manage_blacklist.py
Due: ruff, mdformat, pytest

test: improve coverage
  tests/test_op_manage_blacklist.py
Due: ruff, pytest

refactor: move all exceptions into errors.py
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/cli_app_auth.py
  evernote_backup/cli_app_auth_oauth.py
  evernote_backup/cli_app_auth_password.py
  evernote_backup/cli_app_storage.py
  evernote_backup/cli_app_util.py
  evernote_backup/desktop_session.py
  evernote_backup/errors.py
  evernote_backup/evernote_client.py
  evernote_backup/evernote_client_util.py
  evernote_backup/note_checker.py
  evernote_backup/note_exporter.py
  evernote_backup/note_storage.py
  evernote_backup/note_synchronizer.py
  evernote_backup/token_util.py
  tests/test_cli_app.py
  tests/test_cli_app_util.py
  tests/test_desktop_session.py
  tests/test_op_init_db.py
Due: ruff, pytest

feat: let user manually paste callback URL during MCP OAuth
  README.md
  evernote_backup/cli_app_auth_oauth.py
  evernote_backup/evernote_client_oauth.py
  tests/test_evernote_client_oauth.py
Due: ruff, mdformat, pytest

fix: verify JWT token
  evernote_backup/cli_app_auth.py
  evernote_backup/config_defaults.py
  evernote_backup/token_util.py
  tests/conftest.py
  tests/test_token_util.py
Due: ruff, pytest

refactor: build sync url using api base
  evernote_backup/config_defaults.py
  evernote_backup/evernote_client.py
Due: ruff, pytest

refactor: catch all types of errors on sync v2
  evernote_backup/evernote_client_sync.py
Due: ruff, pytest

refactor: only parse username in JWT info
  evernote_backup/token_util.py
Due: ruff, pytest

build: replace mdformat with rumdl
  .pre-commit-config.yaml
  .versionrc.js
  README.md
  pyproject.toml
  uv.lock
Due: mdformat

docs(changelog): convert to keepachangelog format
  .github/workflows/release_github.yml
  CHANGELOG.md
Due: mdformat

build: add issues link to pyproject
  pyproject.toml
Due: none

build: bump changelog with keepachangelog on release
  .versionrc.js
  pyproject.toml
  uv.lock
Due: none

build: add justfile
  justfile
Due: none

fix: show tasks warning only for evernote backend
  evernote_backup/cli_app.py
Due: ruff, pytest

fix: include single-note shares during sync
  evernote_backup/cli_app.py
  evernote_backup/config.py
  evernote_backup/evernote_client.py
  evernote_backup/evernote_client_sync.py
  evernote_backup/evernote_client_util.py
  evernote_backup/evernote_types.py
  evernote_backup/note_storage.py
  evernote_backup/note_synchronizer.py
  tests/conftest.py
  tests/test_conftest_fakes.py
  tests/test_evernote_client.py
  tests/test_evernote_client_sync.py
  tests/test_note_storage.py
  tests/test_op_init_db.py
  tests/test_op_sync.py
  tests/test_op_sync_shared_notes.py
  tests/test_parse_sync_shared_notes.py
Due: ruff, pytest

docs(readme): update info about single-note shares
  README.md
Due: mdformat

refactor: ruff check --fix
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/cli_app_auth.py
  evernote_backup/cli_app_auth_oauth.py
  evernote_backup/cli_app_auth_password.py
  evernote_backup/cli_app_click_util.py
  evernote_backup/cli_app_storage.py
  evernote_backup/cli_app_util.py
  evernote_backup/desktop_session.py
  evernote_backup/errors.py
  evernote_backup/evernote_client.py
  evernote_backup/evernote_client_api_http.py
  evernote_backup/evernote_client_auth.py
  evernote_backup/evernote_client_oauth.py
  evernote_backup/evernote_client_sync.py
  evernote_backup/evernote_client_util.py
  evernote_backup/evernote_client_util_ssl.py
  evernote_backup/evernote_types.py
  evernote_backup/log_util.py
  evernote_backup/note_checker.py
  evernote_backup/note_exporter.py
  evernote_backup/note_exporter_util.py
  evernote_backup/note_formatter.py
  evernote_backup/note_formatter_util.py
  evernote_backup/note_lister.py
  evernote_backup/note_storage.py
  evernote_backup/note_synchronizer.py
  evernote_backup/token_util.py
  tests/conftest.py
  tests/test_conftest_fakes.py
  tests/test_desktop_session.py
  tests/test_evernote_client.py
  tests/test_evernote_client_sync.py
  tests/test_note_storage.py
  tests/test_op_init_db.py
  tests/test_op_reauth.py
Due: ruff, pytest

refactor: lint types
  evernote_backup/cli.py
  evernote_backup/cli_app_auth_password.py
  evernote_backup/evernote_client.py
  evernote_backup/evernote_client_api_http.py
  evernote_backup/evernote_client_oauth.py
  evernote_backup/evernote_client_sync.py
  evernote_backup/evernote_client_util.py
  evernote_backup/log_util.py
  evernote_backup/note_exporter.py
  evernote_backup/note_formatter.py
  evernote_backup/note_lister.py
  evernote_backup/note_synchronizer.py
  pyproject.toml
  tests/conftest.py
Due: ruff, pytest

test: improve coverage
  tests/test_evernote_client_sync.py
  tests/test_evernote_client_util.py
Due: ruff, pytest

docs(changelog): update
  CHANGELOG.md
Due: mdformat

build: add ty to dev
  .pre-commit-config.yaml
  evernote_backup/evernote_client_api_http.py
  pyproject.toml
  tests/test_desktop_session.py
  uv.lock
Due: ruff, pytest

build: update versionrc
  .versionrc.js
Due: none

chore(release): 1.14.0
  CHANGELOG.md
  evernote_backup/version.py
  pyproject.toml
  uv.lock
Due: ruff, mdformat, pytest

ci(github): drop brew bump from pypi release workflow
  .github/workflows/release_pypi.yml
Due: none

build(justfile): add release options
  justfile
Due: none

docs(changelog): fix typo
  CHANGELOG.md
Due: mdformat

fix(export): escape "]]>" sequences in note content
  evernote_backup/note_formatter_util.py
  tests/test_note_formatter.py
Due: ruff, pytest

fix(export): escape "]]>" sequences in note content (#168)
  evernote_backup/note_formatter_util.py
  tests/test_note_formatter.py
Due: ruff, pytest

docs(readme): uv sync with --all-groups for dev install
  README.md
Due: mdformat

build: drop changelog from packaging
  pyproject.toml
Due: none

build: bump dependencies
  pyproject.toml
  tests/test_op_sync_v2.py
  uv.lock
Due: ruff, pytest

build: update pre-commit-hooks
  .pre-commit-config.yaml
Due: none

build: drop mypy config
  pyproject.toml
Due: none

Path conditions:
  ruff: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
  pytest: any of: \.py$
