Repository vzhd1701/evernote-backup: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat, pytest, mypy, pytest-cov

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

    -   id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat
        types: [markdown]

    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest
        types: [python]
        pass_filenames: false

    -   id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        require_serial: true
        pass_filenames: false

    -   id: pytest-cov
        name: pytest
        stages: [push]
        language: system
        entry: poetry run pytest --cov-fail-under=100 --cov=evernote_backup tests/
        types: [python]
        pass_filenames: false

fix: print log level in console output if it's other than INFO
  evernote_backup/log_util.py
  tests/test_cli_app.py
Due: isort, black, pytest, mypy, pytest-cov

test: check exit code on each op test
  tests/test_cli_app.py
  tests/test_op_export.py
  tests/test_op_init_db.py
  tests/test_op_reauth.py
  tests/test_op_sync.py
Due: isort, black, pytest, mypy, pytest-cov

fix: give warning on corrupt notes without removing notes
  evernote_backup/note_storage.py
  tests/test_note_storage.py
Due: isort, black, pytest, mypy, pytest-cov

build: replace old evernote sdk with custom fork
  evernote_backup/evernote_client.py
  evernote_backup/evernote_client_classes.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_evernote_client.py
Due: isort, black, pytest, mypy, pytest-cov

build: add requests-sse
  poetry.lock
  pyproject.toml
Due: none

refactor: drop remaining mentions of --oauth option
  evernote_backup/cli.py
  evernote_backup/evernote_client_util.py
Due: isort, black, pytest, mypy, pytest-cov

feat: add support for tasks & reminders
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/cli_app_auth.py
  evernote_backup/config.py
  evernote_backup/evernote_client.py
  evernote_backup/evernote_client_sync.py
  evernote_backup/evernote_types.py
  evernote_backup/note_exporter.py
  evernote_backup/note_formatter.py
  evernote_backup/note_storage.py
  evernote_backup/note_synchronizer.py
  tests/conftest.py
  tests/test_cli_app_util.py
  tests/test_note_formatter.py
  tests/test_note_storage.py
  tests/test_op_export.py
  tests/test_op_sync.py
  tests/test_op_sync_v2.py
Due: isort, black, pytest, mypy, pytest-cov

refactor: lint
  evernote_backup/cli_app_auth.py
  evernote_backup/evernote_types.py
  evernote_backup/note_synchronizer.py
Due: isort, black, pytest, mypy, pytest-cov

build: update pre-commit config
  .pre-commit-config.yaml
Due: none

docs(readme): add info about tasks
  README.md
Due: mdformat

docs: show more info about token on bad token
  evernote_backup/evernote_client.py
  tests/conftest.py
Due: isort, black, pytest, mypy, pytest-cov

refactor: use properly typed classes for User and Note store clients
  evernote_backup/evernote_client.py
  evernote_backup/evernote_client_api_http.py
  evernote_backup/evernote_client_api_tokenized.py
  evernote_backup/evernote_client_auth.py
  evernote_backup/evernote_client_util.py
  tests/conftest.py
  tests/test_evernote_client.py
  tests/test_evernote_client_api.py
  tests/test_op_reauth.py
Due: isort, black, pytest, mypy, pytest-cov

fix: add hotfix for THttpClient until new thrift version gets released
  evernote_backup/evernote_client_api_http.py
Due: isort, black, pytest, mypy, pytest-cov

build: update evernote-plus
  poetry.lock
  pyproject.toml
Due: none

refactor: remove debug variable
  evernote_backup/evernote_client.py
Due: isort, black, pytest, mypy, pytest-cov

fix: restore china backend login
  evernote_backup/evernote_client_api_tokenized.py
  evernote_backup/evernote_client_auth.py
  tests/conftest.py
  tests/test_evernote_client_api.py
Due: isort, black, pytest, mypy, pytest-cov

docs: use lowercase anchor on tasks info link
  evernote_backup/evernote_client.py
Due: isort, black, pytest, mypy, pytest-cov

docs(readme): replace pip with uv
  README.md
Due: mdformat

chore(release): 1.11.0
  CHANGELOG.md
  evernote_backup/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, mypy, pytest-cov

docs: fix changelog format
  CHANGELOG.md
Due: mdformat

chore: add link to commit-and-tag-version in versionrc
  .versionrc.js
Due: none

ci(github): fix changelog parsing on release
  .github/workflows/release_github.yml
Due: none

feat: add options to debug SSL errors
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/cli_app_auth.py
  evernote_backup/cli_app_auth_password.py
  evernote_backup/evernote_client.py
  evernote_backup/evernote_client_api_http.py
  evernote_backup/evernote_client_auth.py
  evernote_backup/evernote_client_sync.py
  evernote_backup/evernote_client_util_ssl.py
  evernote_backup/note_synchronizer.py
  tests/conftest.py
  tests/test_cli_app.py
  tests/test_cli_app_util.py
  tests/test_evernote_client_api.py
  tests/test_op_manage.py
Due: isort, black, pytest, mypy, pytest-cov

docs(readme): add info about SSL errors
  README.md
Due: mdformat

fix: use use_system_ssl_ca flag to init client on manage ping
  evernote_backup/cli_app.py
Due: isort, black, pytest, mypy, pytest-cov

refactor: lint
  evernote_backup/cli_app.py
  evernote_backup/cli_app_auth_oauth.py
  evernote_backup/cli_app_auth_password.py
  evernote_backup/cli_app_click_util.py
  evernote_backup/cli_app_storage.py
  evernote_backup/cli_app_util.py
  evernote_backup/evernote_client.py
  evernote_backup/evernote_client_api_http.py
  evernote_backup/evernote_client_auth.py
  evernote_backup/evernote_client_oauth.py
  evernote_backup/evernote_client_sync.py
  evernote_backup/evernote_client_util.py
  evernote_backup/evernote_client_util_ssl.py
  evernote_backup/evernote_types.py
  evernote_backup/note_exporter.py
  evernote_backup/note_exporter_util.py
  evernote_backup/note_formatter.py
  evernote_backup/note_formatter_util.py
  evernote_backup/note_storage.py
  evernote_backup/note_synchronizer.py
  evernote_backup/token_util.py
  pyproject.toml
  tests/conftest.py
  tests/test_cli_app.py
  tests/test_cli_app_util.py
  tests/test_evernote_client_oauth.py
  tests/test_note_formatter.py
  tests/test_note_storage.py
  tests/test_op_export.py
  tests/test_op_reauth.py
Due: isort, black, pytest, mypy, pytest-cov

build: replace black and isort with ruff
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

fix: avoid crash on bad string data from server
  evernote_backup/evernote_client_api_http.py
  tests/test_evernote_client_api.py
Due: isort, black, pytest, mypy, pytest-cov

docs: use different description for one-off token
  evernote_backup/cli.py
Due: isort, black, pytest, mypy, pytest-cov

refactor: move cafile init to the top
  evernote_backup/cli_app.py
  evernote_backup/cli_app_auth.py
  evernote_backup/cli_app_auth_password.py
  evernote_backup/evernote_client.py
  evernote_backup/evernote_client_api_http.py
  evernote_backup/evernote_client_auth.py
  evernote_backup/evernote_client_sync.py
  evernote_backup/evernote_client_util_ssl.py
  evernote_backup/note_synchronizer.py
  tests/conftest.py
  tests/test_evernote_client_api.py
Due: isort, black, pytest, mypy, pytest-cov

refactor: lint
  evernote_backup/cli.py
  evernote_backup/evernote_client.py
  evernote_backup/evernote_client_sync.py
  evernote_backup/evernote_client_util_ssl.py
  tests/test_op_manage.py
Due: isort, black, pytest, mypy, pytest-cov

refactor: mypy
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/evernote_client.py
  evernote_backup/evernote_client_api_http.py
  evernote_backup/evernote_client_auth.py
  evernote_backup/evernote_client_oauth.py
  evernote_backup/evernote_client_sync.py
  evernote_backup/evernote_client_util_ssl.py
  evernote_backup/evernote_types.py
  evernote_backup/log_util.py
  evernote_backup/note_exporter.py
  evernote_backup/note_formatter_util.py
  evernote_backup/note_storage.py
  evernote_backup/note_synchronizer.py
  tests/test_note_formatter.py
Due: isort, black, pytest, mypy, pytest-cov

build: update pyproject
  pyproject.toml
Due: none

feat: add --api-data option to init-db and reauth for custom API data
  evernote_backup/cli.py
  evernote_backup/cli_app.py
  evernote_backup/cli_app_auth.py
  evernote_backup/cli_app_auth_oauth.py
  evernote_backup/cli_app_auth_password.py
  evernote_backup/cli_app_util.py
  evernote_backup/token_util.py
  tests/conftest.py
  tests/test_cli_app_util.py
  tests/test_evernote_client_oauth.py
  tests/test_op_reauth.py
Due: isort, black, pytest, mypy, pytest-cov

ci(github): update abatilo/actions-poetry to v4
  .github/workflows/release_github.yml
  .github/workflows/release_pypi.yml
  .github/workflows/test.yml
Due: none

refactor: show full exception in debug mode on bad data from server
  evernote_backup/note_synchronizer.py
Due: isort, black, pytest, mypy, pytest-cov

chore(release): 1.12.0
  CHANGELOG.md
  evernote_backup/version.py
  pyproject.toml
Due: isort, black, mdformat, pytest, mypy, pytest-cov

fix: avoid crash on any error during note download
  evernote_backup/note_synchronizer.py
  tests/test_op_sync.py
Due: isort, black, pytest, mypy, pytest-cov

refactor: add proper auth token parser
  evernote_backup/cli_app_auth.py
  evernote_backup/evernote_client.py
  evernote_backup/evernote_client_sync.py
  evernote_backup/note_synchronizer.py
  evernote_backup/token_util.py
  tests/conftest.py
  tests/test_cli_app_util.py
  tests/test_op_reauth.py
  tests/test_op_sync.py
Due: isort, black, pytest, mypy, pytest-cov

refactor: use logger exception instead of traceback
  evernote_backup/cli.py
Due: isort, black, pytest, mypy, pytest-cov
